---
http_interactions:
- request:
    method: get
    uri: https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Public_Service_WebMercator/MapServer/25/query?f=json&objectIds=%27%27&outFields=*&outSR=4326&where=1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - '"396ce3b7"'
    body:
      encoding: ASCII-8BIT
      string: '{"displayFieldName":"NAME","fieldAliases":{"OBJECTID":"OBJECTID","OWNER_RENTER":"OWNER_RENTER","PROVIDER":"PROVIDER","ADDRESS":"ADDRESS","CITY":"CITY","STATE":"STATE","LATITUDE":"LATITUDE","LONGITUDE":"LONGITUDE","WARD":"WARD","TYPE":"TYPE","SUBTYPE":"SUBTYPE","STATUS":"STATUS","NUMBER_OF_BEDS":"NUMBER_OF_BEDS","ON_SITE_MEDICAL_CLINIC":"ON_SITE_MEDICAL_CLINIC","DGS_CONFIRMED":"DGS_CONFIRMED","DHS_CONFIRMED":"DHS_CONFIRMED","ALREADY_PUBLIC_INFORMATION":"ALREADY_PUBLIC_INFORMATION","LAST_UPDATED_BY_DHS":"LAST_UPDATED_BY_DHS","PUBLISH_TO_ODP":"PUBLISH_TO_ODP","AGES_SERVED":"AGES_SERVED","HOW_TO_ACCESS":"HOW_TO_ACCESS","LGBTQ_FOCUSED":"LGBTQ_FOCUSED","XCOORD":"XCOORD","YCOORD":"YCOORD","NAME":"NAME","ZIPCODE":"ZIPCODE","WEB_URL":"WEB_URL","MAR_ID":"MAR
        ID","GIS_ID":"GIS_ID","GLOBALID":"GLOBALID","CREATOR":"CREATOR","CREATED":"CREATED","EDITOR":"EDITOR","EDITED":"EDITED"},"geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"OBJECTID"},{"name":"OWNER_RENTER","type":"esriFieldTypeString","alias":"OWNER_RENTER","length":255},{"name":"PROVIDER","type":"esriFieldTypeString","alias":"PROVIDER","length":255},{"name":"ADDRESS","type":"esriFieldTypeString","alias":"ADDRESS","length":255},{"name":"CITY","type":"esriFieldTypeString","alias":"CITY","length":255},{"name":"STATE","type":"esriFieldTypeString","alias":"STATE","length":255},{"name":"LATITUDE","type":"esriFieldTypeDouble","alias":"LATITUDE"},{"name":"LONGITUDE","type":"esriFieldTypeDouble","alias":"LONGITUDE"},{"name":"WARD","type":"esriFieldTypeString","alia[...]
